@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --snow: #FFFAFA;
  --offset: calc(100% - 6rem);
  @apply min-h-screen;
}

html, body {
  background-color: var(--snow);
  color: black;
  font-family: 'Karla', sans-serif;
  min-height: 100%;
}

.hero {
  @apply flex flex-col justify-center items-center;
  background-color: var(--snow);
}


.navbar {
  @apply fixed min-h-24 max-h-24 top-0 p-4 border-4 border-black text-black min-w-full text-center flex flex-row justify-center bg-[snow];
}

.navbar a , .btn {
  @apply p-3 text-black font-bold justify-center items-center max-h-12 mx-2 border-4 border-black flex;
}

.navbar a:hover ,.btn:hover {
  @apply bg-black text-[snow] transition-all duration-200 ease-in-out;
}

.range-black {
  @apply w-52 h-2 bg-black appearance-none rounded outline-none;
}

.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.range-thumb::-webkit-slider-thumb:hover {
  background: white;
  border: 2px solid black;
}

.range-thumb::-moz-range-thumb:hover {
  background: white;
  border: 2px solid black;
}